ul {
    
    width: 70px;
    height: 135px;
    font-family: 'Playfair Display', serif;
    background: #f0f0f0;
}


.list{

    margin-left: 45%; 
    
}

li:hover{
    color: aqua;
    background: #000;
}