.wrapper{
    width: 844px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.header{
  
    padding: 20px;
    width: 700px;
    height: auto;
    border: 5px solid red;
    display: inline-block;
}

.footer{
    
    display: inline-block;
}

#block-two{
    margin: 20px;
    padding: 20px;
    background: blue;
    width: 340px;
    height: auto;
    display: inline-block;
}
#block-three{
    margin: 20px;
    padding: 20px;
    width: 340px;
    height: auto;
    display: inline-block;
    background: blue;
}